**/node_modules
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/package-lock.json

**/dist
**/bundle
**/coverage
**/.nyc_output

.git
.gitignore
**/.gitattributes

**/.env
**/.env.*

**/.idea
**/.vscode
**/*.swp
**/*.swo

**/.DS_Store
**/Thumbs.db

**/README.md
**/LICENSE

**/test
**/tests
**/*.test.ts
**/*.spec.ts
**/*.test.js
**/*.spec.js

**/*.log

**/.papi/descriptors/.tmp*

external/subskribinto/target

!packages/virto-api/.papi
!packages/virto-api/.papi/**
!packages/adapter-api/.papi
!packages/adapter-api/.papi/**
!packages/contracts-api/.papi
!packages/contracts-api/.papi/**

